html,
body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
div {
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
    font-size: 13px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
}

body {
    padding: 50px 100px;
}

.search-field {
    display: inline-block;
    width: 300px;
}

.search-field.active .drop-menu {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.search-field>input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.search-field>input:focus {
    border-color: #222;
}

.search-field .drop-menu {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    max-height: 300px;
    overflow-y: auto;
}

.search-field .drop-menu>ul {
    padding: 7px 0;
}

.search-field .drop-menu>ul>li {
    display: block;
    padding: 7px 15px;
    cursor: pointer;
}

.search-field .drop-menu .notFound {
    font-style: italic;
    color: #7f8c8d;
}

.search-field .drop-menu>ul>li:hover {
    background-color: #eee;
}